<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="constructor">


    <bean id="cat" class="com.mystudy.bean.Cat"></bean>

    <bean id="dog" class="com.mystudy.bean.Dog"></bean>

    <bean id="home" class="com.mystudy.bean.Home"></bean>

    <bean class="com.mystudy.bean.InstantiationTracingBeanPostProcessor"></bean>

</beans>
